window {
    background-color: rgba(14, 14, 14, 0.6);
    border-radius: 8px;
}

scrollbar {
    background-color: rgba(255, 255, 255, 0.06);
    border: none;
}

scrollbar slider {
    background-color: rgba(255, 255, 255, 0.18);
    min-width: 4px;
    min-height: 40px;
    border: none;
}

scrollbar slider:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.main-box {
    background-color: transparent;
    margin: 2px;
}

.header-box {
    background-color: transparent;
    min-height: 38px;
    margin: 6px;
    padding: 2px 5px 4px 5px;
}

.tab-button {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.4);
    min-width: 2px;
    min-height: 2px;
    padding: 2px 4px;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    margin-right: 8px;
}

.tab-button:hover {
    color: rgba(255, 255, 255, 0.7);
}

.active-tab {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #ffffff;
}

.clear-all-btn {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
}

.clear-all-btn:hover {
    background-color: rgba(250, 250, 250, 0.09);
    color: white;
}

.scrollable-window {
    background-color: transparent;
}

.items-box {
    margin: 4px;
    background-color: transparent;
    padding: 5px;
}

.clipboard-item {
    background-color: rgba(220, 220, 220, 0.036);
    border-radius: 6px;
    padding: 10px;
    min-height: 50px;
}

.clipboard-item:hover {
    background-color: rgba(250, 250, 250, 0.054);
}

.content-label {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

.delete-btn {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.3);
    min-width: 32px;
    min-height: 32px;
    border-radius: 4px;
    padding: 0px;
}

.delete-btn:hover {
    background-color: rgba(250, 250, 250, 0.09);
    background-image: none;
    color: white;
}

button.delete-btn {
    background: transparent;
    border: none;
    padding: 0px;
}

button.delete-btn:hover {
    background: rgba(250, 250, 250, 0.09);
}

.emoji-btn {
    background: transparent;
    border: none;
    font-size: 28px;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    border-radius: 6px;
    padding: 0;
    margin: 0px;
}

.emoji-btn:hover {
    background: rgba(60, 60, 70, 0.4);
}

.search-entry {
    background: rgba(40, 40, 50, 0.3);
    border: 1px solid rgba(80, 80, 90, 0.3);
    border-radius: 6px;
    padding: 4px 8px;
    color: rgba(255, 255, 255, 1.0);
    font-size: 13px;
    margin: 6px 10px;
    min-height: 20px;
}

.search-entry:focus {
    border: 1px solid rgba(100, 150, 255, 0.8);
    background: rgba(40, 40, 50, 0.4);
}
