[Unit]
Description=SuperV Clipboard Manager
After=graphical-session.target

[Service]
Type=simple
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=/usr/bin/super_v clean
ExecStart=/usr/bin/super_v start
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/superv.log
StandardError=append:/var/log/superv.log

[Install]
WantedBy=default.target